<section class="about">
  <div class="about__description">
    <h2 class="about__description-title">some top restaurant for
      dining in or Take away!</h2>
    <p class="about__description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus
      auctor eget sed phasellus senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt. Volutpat
      metus id amet, nam hac magna accumsan. Nascetur ac tortor purus ultrices morbi tellus. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed.</p>
  </div>
  <div class=""></div>
</section>