<section class="about">
  <div class="about__description">
    <h2 class="title about__description-title">some top restaurant for
      dining in or Take away!</h2>
    <p class="about__description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus
      auctor eget sed phasellus senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt. Volutpat
      metus id amet, nam hac magna accumsan. Nascetur ac tortor purus ultrices morbi tellus. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed.</p>
  </div>
  <div class="about__items">
    <div class="about-item">

      <img class="about-item__img" src="/assets/images/about-1.png" alt="image">

      <div class="about-item__info">
        <h3 class="about-item__info-title">Fire Water</h3>
        <p class="about-item__info-text">we are all about we are all about to the fullest and all content dining out or
          in!dining out or in!</p>
        <div class="about-item__info-map"><span class="about-item__icon"><i class="fas fa-map-marker-alt"></i></span>New
          Market</div>
        <a href="#" class="about-item__info-link">Book Now </a>
      </div>

    </div>
    <div class="about-item">
      <img class="about-item__img" src="/assets/images/about-2.png" alt="">
      <div class="about-item__info">
        <h3 class="about-item__info-title">The Wonton</h3>
        <p class="about-item__info-text">we are all about we are all about to the fullest and all content dining out or
          in!dining out or in!</p>
        <div class="about-item__info-map"><span class="about-item__icon"><i
              class="fas fa-map-marker-alt"></i></span>Saheb
          Bazar</div>
        <a href="#" class="about-item__info-link">Book Now </a>
      </div>

    </div>
    <a href="#" class="about-item__link">
      <div class="about-item__link-inner">
        <span class="about-item__link-line"></span>
        <span class="about-item__link-arrow"><i class="fas fa-chevron-right"></i></span>
      </div>
      <span class="about-item__link-text">See More</span>

    </a>
  </div>
</section>