<section class="app">
  <div class="app__inner">
    <h2 class="title app__title">Download app for
      Exciting Deals
    </h2>
    <p class="app__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed
      phasellus senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt. </p>
    <div class="app__links">
      <a class="app__link" href="#"><i class=" app__link-icon fab fa-google-play"></i>
        <span class="app__link-text app__link-text">get in on google play</span>

      </a>
      <a class="app__link" href="#"><i class=" app__link-icon fab fa-apple"></i>

        <span class="app__link-text">Download on the App Store</span>

      </a>
    </div>

  </div>
  <div class="app__image">
    <img src="/assets/images/app.png" alt="image">
  </div>
</section>