<footer class="footer">
  <div class="footer__image">
    <img class="footer__image-img" src="/assets/images/footer.png" alt="image">
  </div>
  <div class="footer__blocks">
    <div class="footer__block-info">
      <h3 class="footer__block-title">Get notified
        about new amazing products</h3>
      <p class="footer__block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus
        auctor
        eget sed phasellus senectus. </p>



      <form class="footer__form">
        <div class="span footer__span"></div>
        <input name="name" id="name" class="footer__form-input" type="email" placeholder="E-mail">

        <button type="submit" class="btn footer__btn"><i class="fas fa-arrow-right"></i></button>
      </form>



      <div class="footer__links">
        <a class="footer__links-link" href="#">Product</a>
        <a class="footer__links-link" href="#">Company</a>
        <a class="footer__links-link" href="#">Learn more</a>
        <a class="footer__links-link" href="#">Get in touch</a>
      </div>
    </div>

    <div class="footer__socials">
      <div class="footer__social">
        <a class="footer__social-link" href="https://www.facebook.com/profile.php?id=100001282603803"><i
            class="fab fa-facebook-f"></i></a>
        <a class="footer__social-link" href="https://twitter.com/?lang=uk"><i class="fab fa-twitter"></i></a>
        <a class="footer__social-link" href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
        <a class="footer__social-link" href="https://www.behance.net"><i class="fab fa-behance"></i></a>
      </div>
      <p class="footer__socials-text">©2020 Expice Studio</p>
    </div>

  </div>

</footer>