<section class="gallery">
  <div class="gallery__head">
    <h2 class="gallery__head-title">Explore Our Foods</h2>
    <p class="gallery__head-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor
      eget sed phasellus senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt. Volutpat metus id
      amet.</p>
  </div>

  <div class="gallery__items">

    <div class="gallery__item">
      <img class="gallery__item-img" src="/assets/images/gallery-1.png" alt="image">
      <div class="gallery__info">
        <div class="gallery__info-description">
          <h3 class="gallery__info-title">Hand Sandwich</h3>
          <p class="gallery__info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. </p>
        </div>
        <p class="gallery__info-prise">$10.25</p>
      </div>
    </div>
    <div class="gallery__item">
      <img class="gallery__item-img" src="/assets/images/gallery-2.png" alt="image">
      <div class="gallery__info">
        <div class="gallery__info-description">
          <h3 class="gallery__info-title">Hand Sandwich</h3>
          <p class="gallery__info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. </p>
        </div>
        <p class="gallery__info-prise">$10.25</p>
      </div>
    </div>
    <div class="gallery__item">
      <img class="gallery__item-img" src="/assets/images/gallery-3.png" alt="image">
      <div class="gallery__info">
        <div class="gallery__info-description">
          <h3 class="gallery__info-title">Hand Sandwich</h3>
          <p class="gallery__info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. </p>
        </div>
        <p class="gallery__info-prise">$10.25</p>
      </div>
    </div>
    <div class="gallery__item">
      <img class="gallery__item-img" src="/assets/images/gallery-4.png" alt="image">
      <div class="gallery__info">
        <div class="gallery__info-description">
          <h3 class="gallery__info-title">Hand Sandwich</h3>
          <p class="gallery__info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. </p>
        </div>
        <p class="gallery__info-prise">$10.25</p>
      </div>
    </div>
    <div class="gallery__item">
      <img class="gallery__item-img" src="/assets/images/gallery-5.png" alt="image">
      <div class="gallery__info">
        <div class="gallery__info-description">
          <h3 class="gallery__info-title">Hand Sandwich</h3>
          <p class="gallery__info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. </p>
        </div>
        <p class="gallery__info-prise">$10.25</p>
      </div>
    </div>
    <div class="gallery__item">
      <img class="gallery__item-img" src="/assets/images/gallery-6.png" alt="image">
      <div class="gallery__info">
        <div class="gallery__info-description">
          <h3 class="gallery__info-title">Hand Sandwich</h3>
          <p class="gallery__info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. </p>
        </div>
        <p class="gallery__info-prise">$10.25</p>
      </div>
    </div>



  </div>

</section>