<header>
  <div class="header__logo">expise</div>
  <ul class="header__menu">
    <li class="header__menu-item">
      <a class="header__menu-link" href="#">Menu One</a>
    </li>
    <li class="header__menu-item">
      <a class="header__menu-link" href="#">Menu Two</a>
    </li>
    <li class="header__menu-item">
      <a class="header__menu-link" href="#">Menu Three</a>
    </li>
    <li class="header__menu-item">
      <a class="header__menu-link" href="#">Menu Four</a>
    </li>

  </ul>
  <div class="header__user">
    <div class="header__user-avatar"></div>
    <a class="header__user-name" href="#"> User <span></span> </a>
  </div>
</header>