<div id="popup" class="popup">
  <a href="#header" class="popup__area"></a>
  <div class="popup__body">
    <div class="popup__content">
      <a href="#header" class="popup__close close-popup">
        <span class="popup__close-line"></span>
        <span class="popup__close-line"></span>
      </a>
      <div class="popup__wrapper">
        <img class="popup__img" src="/assets/images/footer-image.png" alt="image">
        <form name="signup" class="popup__form">
          <div class="popup__label">
            <input name="name" required class="popup__input" type="text" placeholder="Your name">
            <input name="tel" required class="popup__input" type="tel" placeholder="Your phone number">
            <input name="email" required class="popup__input" type="email" placeholder="Your E-mail">
            <input name="password" required class="popup__input" type="password" placeholder="Your password">
          </div>
          <button class="popup__button" type="submit">GO</button>
        </form>
      </div>
    </div>
  </div>
</div>