<section class="servises">
  <div class="description servises__description">
    <h2 class="title servises__description-title">Our Services</h2>
    <p class="text servises__description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing
      cursus
      auctor eget sed phasellus senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt. Volutpat
      metus id amet, nam hac magna accumsan. Nascetur ac tortor purus ultrices morbi tellus. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed.</p>
  </div>


  <div class="servises__inner">
    <div class="servises__items">
      <div class="servises__item">
        <div class="servises__item-image">
          <img class="servises__item-img" src="/assets/images/servises-1.png" alt="servises-1.png" alt="image">
        </div>
        <div><i class="servises__item-arrow fas fa-chevron-left"></i></div>
        <div class="servises__item-description">
          <h3 class="servises__item-title">advanced table
            booking
          </h3>
          <p class=" text servises__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="servises__item servises__item--food">
        <div class="servises__item-description servises__item-description--food">
          <h3 class="servises__item-title servises__item-title--food">Food For Free
            24/7
          </h3>
          <p class=" text servises__item-text servises__item-text--food">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit.</p>
        </div>
        <div><i class="servises__item-arrow servises__item-arrow--food fas fa-chevron-right"></i></div>
        <div class="servises__item-image">
          <img class="servises__item-img" src="/assets/images/servises-2.png" alt="servises-1.png" alt="image">
        </div>
      </div>
    </div>

    <div class="servises__card">
      <div class="servises__card-image">
        <img src="/assets/images/servises-3.png" alt="image">
      </div>
      <div class="servises__card-description">
        <div class="servises__card-title">free home delivery
          at your door steps</div>
        <div class="servises__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      </div>

    </div>


  </div>
</section>